@import '../../../scss/config.scss';

.container {
  @include alignContent;

  .btnWrapper {
    button {
      padding: 10px 15px 8px 15px;
      font-size: 14px;
      font-weight: 500;
      color: $greyish-black;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }

    .selectedBtn {
      background-color: $body-grey;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      font-weight: 600;
    }
  }

  section {
    background-color: $body-grey;
    min-width: 1200px;
  }
}
