$font-stack: Apple SD Gothic Neo, sans-serif;

/* colors */
$black: #000000;
$body-grey: #acacac;
$charcoal: #545454;
$dark-charcoal: #4c4c4c;
$red: #ff0000;
$grey: #efefef;
$greish-black: #333333;
$kurly-signature: #5f0180;
$white: #ffffff;
