@import '../../scss/config.scss';

.container {
  @include alignContent;
  max-width: 900px;

  .simulationManipulationWrapper {
    position: relative;
    background-color: $body-grey;
    border: 1px solid $grey1;
    border-radius: 2px;
    padding: 40px 20px 10px 20px;

    .simulationBtn {
      position: absolute;
      padding: 10px;
      width: 250px;
      height: 40px;
      font-weight: 700;
      background-color: $kurly-signature;
      color: $white;
      right: 30px;
      bottom: 15px;
      border-radius: 2px;
    }
  }
}
